/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
body{
	background-color: #76D7C4;
	background-image: url("/christmas-ornament.png");
	background-size: cover;
},
.app-root{
	background-color: #808080;	
	background-image: url("/christmas-ornament.png");
	background-size: 300px 100px;
}
