  <nav>
    <div class="nav-wrapper">
      <a href="#/admin" class="brand-logo">Admin</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/admin/adminreport">Отчеты</a></li>
        <li><a routerLink="/admin/adminuser">Пользователи</a></li>
        <li><a routerLink="/admin/adminshop">Магазины</a></li>
        <li><a routerLink="/admin/emitent" >Эмитенты</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
 <!-- <app-admin-report></app-admin-report> -->

 <router-outlet></router-outlet>